<form action="." id="someid123" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="inner">
        <div class="content"><h4>Cover Letter</h4><input type="hidden" name="job-id" value="{{job1.id}}">
            <input type="hidden" name="user-id" value="12345"> <input name="fullname" required placeholder="Fullname">
            <input type="email" name="email" required placeholder="Mail">
            <input required name="phone" placeholder="+998 XX XXX XX XX">
            <textarea name="text" required placeholder="Write here..." rows="7"></textarea>
            <input class="file" type="file" name="image" id="userResume1234">
            <div class="flex">
                <button class="btn" onclick="closeApply('someid123')" type="button">Cancel</button>
                <button class="btn secondary" onclick="closeApply('someid123')">Submit</button>
            </div>
        </div>
    </div>
    <div class="backdrop" onclick="closeApply('someid123')"></div>
</form>