{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
<section class="register flex">
    <div class="image flex"><img src="{% static '/assets/img/reset-password.png' %}" alt=""></div>
    <div class="content flex">
        <form><h1 class="title">Reset<br>Password</h1>
            <p>Enter your account details below</p>
            <div class="form-group"><label for="name">Email Adress</label> <input type="email" id="name"
                                                                                  class="form-input"
                                                                                  placeholder="Ex: john@email.com">
            </div>
            <button class="btn secondary">Submit</button>
            <p>Remember password? <a href="#">Sign in now</a></p></form>
    </div>
</section>
{% endblock %}