{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
<section class="register flex">
    <div class="image flex"><img src="{% static '/assets/img/signin.png' %}" alt=""></div>
    <div class="content flex">
        <form method="post" action="{% url 'signin'%}">
            {% csrf_token %}
            <h1 class="title">Sign in</h1>
            <p>Enter your account details below</p>

            {% csrf_token %}
            <div class="form-group"><label for="name">Username</label>
                <input type="text" id="id_email" class="form-input" name="username" placeholder="Ex: John Doe"></div>
            <div class="form-group"><label for="name">Password</label>
                <input type="password" id="id_password" class="form-input" name="password" placeholder="i.e. IAmthepreciouspass123">
            </div>
            <div class="form-group"><input type="checkbox" required id="privacy"> <label for="privacy">Keep me signed
                in</label></div>
            <button class="btn secondary">Submit</button>
            <p>Forgot password? <a href="#">Reset now</a></p></form>
    </div>
</section>
{% endblock %}
{% block script %}
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
{% endblock %}